<!-- common utilities (used by all pages) -->
<script src="/static/js/utils/EventEmitter.js"></script>
<script src="/static/js/utils/Geometry.js"></script>
<script src="/static/js/utils/Storage.js"></script>
<script src="/static/js/utils/Validation.js"></script>
<script src="/static/js/utils/URLManager.js"></script>
<script src="/static/js/utils/AppInitializer.js"></script>
<script src="/static/js/standardisation/DropdownManager.js"></script>

<!-- navigation (consolidated, safe for all pages) -->
<script src="/static/js/components/Navigation.js"></script>

<!-- status bar component -->
<script src="/static/js/components/StatusBar.js"></script>

<!-- common initialization -->
<script src="/static/js/Common.js"></script>


