{% extends 'base/base.html' %}
{% block title %}FlowCraft • Data Matrix{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/pages/data_matrix.css">
{% endblock %}
{% block content %}
    <div class="data_matrix_container" style="flex:1;">
        <div id="dm_content" class="dm_content">
            <!-- one block per execution -->
        </div>
    </div>
{% endblock %}
{% block modals %}
    {% include 'partials/modals/create_flowchart.html' %}
{% endblock %}
{% block scripts %}

<script src="/static/js/pages/Pages.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const loader = new DynamicScriptLoader('/static/js/pages/data_matrix/');
    loader.loadAllScripts().then(() => {
        if (typeof Settings !== 'undefined') {
            new Settings();
        }
    });
});
</script>

{% endblock %}

