{% extends 'base/base.html' %}
{% block title %}FlowCraft - Scripts{% endblock %}
{% block styles %}<link rel="stylesheet" href="/static/css/pages/scripts.css">{% endblock %}
{% block content %}
        <div class="scripts_container" style="flex:1;">
            <div class="explorer_toolbar">
                <button id="btn_new_file" class="explorer_btn"><span class="material-icons">note_add</span> Create File</button>
                <button id="btn_new_folder" class="explorer_btn"><span class="material-icons">create_new_folder</span> Create Folder</button>
                <button id="btn_delete_selected" class="explorer_btn">
                    <span class="material-icons" style="vertical-align:middle;">delete</span>
                    Delete Selected
                </button>
                <button id="btn_deselect_all" class="explorer_btn">
                    <span class="material-icons" style="vertical-align:middle;">backspace</span>
                    Deselect All
                </button>
                <div class="u_flex_grow_1"></div>
                <button id="btn_up" class="explorer_btn" title="go up one level"><span class="material-icons u_icon_18">arrow_upward</span> Up</button>
            </div>
            {% include 'partials/breadcrumb.html' %}
            <div class="explorer_table_wrap">
                <table class="explorer_table" id="explorer_table">
                    <thead>
                        <tr>
                            <th class="explorer_th">name</th>
                            <th class="explorer_th">select</th>
                            <th class="explorer_th">type</th>
                            <th class="explorer_th">size</th>
                            <th class="explorer_th">modified</th>
                            <th class="explorer_th">actions</th>
                        </tr>
                    </thead>
                    <tbody id="explorer_tbody">
                        <tr><td class="explorer_td" colspan="5"><div class="empty_state">loading...</div></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block modals %}
    {% include 'partials/modals/create_flowchart.html' %}
{% endblock %}

{% block scripts %}

<script src="/static/js/pages/Pages.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const loader = new DynamicScriptLoader('/static/js/pages/scripts/');
    loader.loadAllScripts().then(() => {
        if (typeof Settings !== 'undefined') {
            new Settings();
        }
    });
});
</script>

{% endblock %}


